.result-box {
    width: 60%;
    margin: auto;
    background-color: #fff;
}

.result-container{
    height: 100vh;
    background-color: rgb(115, 23, 201);
}

img {
    width: 40%;
    object-fit: contain;
}

.awardimg {
    width: 60%;
    margin: auto;
}

.title h3, p {
    color: rgb(115, 23, 201);
}